*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    margin: 0;
}

header{ 
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #d8d8d8;
    color: #f1f1f1;
    z-index: 1010;
    
}

.items-number{
    background-color: red;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
    transform: translateX(30px);
    
}

.pictures img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.hoover img{
    filter: blur(3px);
    
   
}

.imageInfo{
    height: 200px;
    width: 250px;
    position: absolute;
    z-index: 1000;
    color: white;
    transform: translate(35px, 20px);
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.856);
    vertical-align: middle;
    
}

.imageInfo p{
    font-style: italic;
}



.hoover button{
   
    position: absolute;
    transform: translate(83px, 160px);
    z-index: 1000;
    font-size: large;
    width: 150px;
    height: 40px;
    background-color: #ffffff00; /* Green */
    border: solid 2px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    

   
}

button:hover {
    background-color: #978c8c80;
    color: white;
  }

.pictures {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    
  }

.savedPhotos{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    margin:auto;
    overflow: auto;
    max-height: 90vh
  
}

.savedPhotos img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    object-fit: cover;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
    justify-content: center;    
  }



.lightbox{
    position: fixed;
    z-index: 1020;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#active{
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border-radius: 10px;
    height: 80vh;
    
}



.loading{
    opacity: 0;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px) {

    .pictures {
        display: inline-grid;
        grid-template-columns: auto ;
        
        
      }
    
    .savedPhotos{
        display: inline-grid;
        grid-template-columns: auto ;
        
      
    }

    #active{
        height: 30vh;
    }

}

@media only screen and (max-width: 1200px) {

    .pictures {
        display: inline-grid;
        grid-template-columns: auto auto;
        
        
      }
    
    .savedPhotos{
        display: inline-grid;
        grid-template-columns: auto auto ;
        
      
    }

    #active{
        height: 50vh;
    }

}